body *{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

#containder{
  margin: 50px auto;
  width: 985px;
  height: 100%;
  position: relative;
  padding: 0 7px;
  font-family: sans-serif;
  vertical-align: middle;
}

img{
  height: 300px;
}